@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothicregular-webfont.eot');
    src: url('../fonts/leaguegothicregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothicregular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothicregular-webfont.woff') format('woff'),
         url('../fonts/leaguegothicregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background-color: #000;
	font-family: 'League Gothic', Arial, sans-serif;
}
.wrapper{
	width:100%;
	margin: 0 auto;
}
.header{
	background: url(../img/backgrond-top.jpg) center 0 no-repeat;
	/*background-size: cover;*/
	width: 100%;
	height: 508px;
	position: relative;
}
.header__logo{
	padding-top: 69px;
	margin-left: 46%;
}
.menu__list{
	width: 242px;
	margin-left: 43%;
	border: 1px solid #000;
}
.menu__item,
.menu-submenu__item{
	text-align: center;
	list-style: none;
}
.menu__item{
	position: relative;
}
.menu__link,
.menu-submenu__link{
	display: block;
	padding: 5px;
	color: #ffffff;
	background-color: rgba(54, 41, 62, 0.5);
}
.menu-submenu__list{
	display: none;
	position: absolute;
	top:100%;
	left: 0;
	width: 100%;
}
.menu__item:hover .menu-submenu__list{
	display: block;
}
.menu-submenu__item{
	border-top: 1px solid #54405c;
	border-bottom: 1px solid #35273d;
}
.menu__link{
	line-height: 39px;
	font-size: 24px;
}
.menu-submenu__link{
	line-height: 39px;
	font-size: 24px;
	text-decoration: none;
	font-family: 'League Gothic' Arial sans-serif;
}