@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: #FFF;
	font-family: 'Lucida Sans Unicode', sans-serif;
}
.wrapper{
	width: 906px;
	margin: 0 auto;
}
.telephon-number{
	float: left;
	font-family: Arial;
	font-size: 18px;
	color: #5e696d;
	padding-right: 16px;
}
#userlogin{
	background-color: #fff;
}
.reg-form{
	float:left;
	background: #1f6787;
	background: -moz-linear-gradient(top, #1f6787 0%, #0c3357 100%);
	background: -webkit-linear-gradient(top, #1f6787 0%,#0c3357 100%);
	background: linear-gradient(to bottom, #1f6787 0%,#0c3357 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 );
	border-radius: 4px/3px;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
	margin-top: -10px;
}
.registration,
.reg-button{
	display: inline;
}	
.mini-nav{
	float: right;
	position: relative;
	top: 0px;
}
.mini-nav>li{
	float: left;
	list-style: none;
}
.contacts{
	padding: 16px 0 20px 0;
}
.contents:after{
	content: "";
	clear: both;
}
.numbers{
	background: url(../img/handset.png) 0 50% no-repeat;
	padding-left: 26px;
}
.registration{
	background: url(../img/login.png) 2% 50% no-repeat;
	padding-left: 26px;
}
#userlogin,
#password{
	height: 15px;
	width: 112px;
	border: 1px solid #9ba1a3;
}
#userlogin{
	padding-right: 8px;
}
.login,
.signup,
.forget-password{
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}
.login:hover,
.signup:hover,
.forget-password:hover{
	font-size: 11px;
	color: #bfbfbf;
	text-decoration: underline;
}
.reg-button span{
	color: #fff;
	font-size: 11px;
	line-height: 25px;
}
.forget-password{
	margin-right: 10px;
	margin-left: 20px;
}
.mini-nav{
	border: 1px solid #bdc3c7;
	border-radius: 11px;
	margin-top: -5px;
	box-shadow: 2px 3px 3px rgba(0,0,0,0.75);
}
.mini-nav img{
	padding-left: 4px;
	padding-right: 4px;
}
.mini-nav img:last-child{
	padding-right: 10px;
}
.mini-nav li{
	line-height: 19px;
}
.logo{
	padding-top: 8px;
	
}
/*NAV*/
nav{
	background: #485160;
	background: -moz-linear-gradient(top,  #485160 0%, #010101 100%);
	background: -webkit-linear-gradient(top,  #485160 0%,#010101 100%);
	background: linear-gradient(to bottom,  #485160 0%,#010101 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#485160', endColorstr='#010101',GradientType=0 );
	width: 100%;
	height: 32px;
	border-radius: 4px/3px;
	box-shadow: 2px 3px 3px rgba(150,150,150,.75);
}
nav .top-menu{
	float: left;
}
nav .basket{
	float: right;
}
nav .top-menu>li{
	float: left;
	list-style: none;
	display: block;
}
nav:after{
	content: "";
	clear: both;
	display: block;
}
.top-menu li a{
	line-height: 32px;
	text-decoration: none;
	padding: 0 14px;
	font-size: 14px;
	color: #b1bcc0;
}
.top-menu li a:hover{
	color: #ffffff;
	background: #25617b;
	background: -moz-linear-gradient(top,  #25617b 0%, #0c3357 100%);
	background: -webkit-linear-gradient(top,  #25617b 0%,#0c3357 100%);
	background: linear-gradient(to bottom,  #25617b 0%,#0c3357 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25617b', endColorstr='#0c3357',GradientType=0 );
	border-radius: 11px;
	width: 123px;
	height: 28px;
}
nav .basket .goods{
	background: url(../img/basket.png) 0 50% no-repeat;
	padding-left: 26px;
	font-family: Arial sans-serif;
	font-size: 11px;
	color: #929b9f;
	line-height: 32px;
	padding-right: 13px;
}
nav .basket .numbers-goods{
	font-size: 12px;
	color: #0d5a8f;
}
nav .top-menu{
	position: relative;
	left: 125px;
}
/*MAIN*/
.main{
	overflow: hidden;
	width: 960px;
	margin-top: 5px;
}
.main .left-column{
	width: 190px;
	float: left;
	background: #3d2af0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
.main .central-column{
	width: 525px;
	float: left;
	background: #e34456;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
.main .right-column{
	width: 190px;
	float: left;
	background: #e3e244;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}
